<!DOCTYPE html>
<html>
  <head>
    <title>Records</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<% @records.each do |record| %>
	  <p>Title: <%= record.title %></p>
	  <p>Artist: <%= record.artist %></p>
	  <img src="<%= record.cover_art %>">
	  <%= link_to "Show page", record_path(record) %> 
	<% end %>
    <%= yield %>
  </body>
</html>
